In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

ModuleNotFoundError: No module named 'matplotlib'

In [32]:
df = pd.read_csv('df20190525.csv')
dfcap = pd.read_csv('SalaryCapInfo.csv')

FileNotFoundError: [Errno 2] File b'SalaryCapInfo.csv' does not exist: b'SalaryCapInfo.csv'

In [12]:
print(df.shape)

(4804, 44)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4804 entries, 0 to 4803
Data columns (total 44 columns):
UID                 4804 non-null object
Rk                  4589 non-null float64
Player              4804 non-null object
playerid            4804 non-null object
Age                 4804 non-null int64
Tm                  4804 non-null object
Lg                  4804 non-null object
Season              4804 non-null object
G_Totals            4804 non-null int64
GS_Totals           4804 non-null int64
MP_Totals           4804 non-null int64
PER                 4802 non-null float64
3PAr                4795 non-null float64
FTr                 4795 non-null float64
ORB%                4802 non-null float64
DRB%                4802 non-null float64
TRB%                4802 non-null float64
AST%                4802 non-null float64
STL%                4802 non-null float64
BLK%                4802 non-null float64
TOV%                4798 non-null float64
USG%                4802 non-null float64
ORtg                4798 non-null float64
DRtg                4802 non-null float64
OWS                 4804 non-null float64
DWS                 4804 non-null float64
WS                  4804 non-null float64
WS/48               4802 non-null float64
OBPM                4804 non-null float64
DBPM                4804 non-null float64
BPM                 4804 non-null float64
VORP                4804 non-null float64
draftyr             4804 non-null int64
draftrd             4804 non-null int64
draftpk             4804 non-null int64
SeasonN             4804 non-null int64
DraftTeam           4804 non-null object
playedForDrafter    4804 non-null object
YrFirstPlayed       4804 non-null int64
DraftEra            4804 non-null object
Seasonstartyr       4804 non-null int64
Seasonendyr         4804 non-null int64
 Salary             4804 non-null object
 Source             4804 non-null object
dtypes: float64(22), int64(11), object(11)
memory usage: 1.6+ MB

In [ ]:
dfcap.info

In [14]:
df.describe()

,Rk,Age,G_Totals,GS_Totals,MP_Totals,PER,3PAr,FTr,ORB%,DRB%,...,DBPM,BPM,VORP,draftyr,draftrd,draftpk,SeasonN,YrFirstPlayed,Seasonstartyr,Seasonendyr
count,4589.000000,4804.000000,4804.000000,4804.000000,4804.000000,4802.000000,4795.000000,4795.000000,4802.000000,4802.000000,...,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000
mean,3235.376553,23.564321,51.821815,23.941715,1191.233972,12.288567,0.184596,0.303015,6.035194,13.687276,...,-0.446045,-2.080600,0.506203,2004.118859,1.347835,24.189009,2.776644,2004.331599,2006.174230,2007.174230
std,1751.058592,2.250090,26.422359,28.483774,922.305718,6.559403,0.186482,0.203165,4.929790,6.570569,...,2.052629,4.437667,1.255250,6.880787,0.476333,15.432163,1.422386,6.848085,6.651667,6.651667
min,202.000000,18.000000,0.000000,0.000000,0.000000,-90.600000,0.000000,0.000000,0.000000,0.000000,...,-23.100000,-86.700000,-2.600000,1986.000000,1.000000,1.000000,0.000000,1986.000000,1995.000000,1996.000000
25%,1750.000000,22.000000,31.000000,0.000000,336.750000,9.700000,0.006000,0.191000,2.400000,9.500000,...,-1.500000,-3.900000,-0.200000,1998.000000,1.000000,11.000000,2.000000,1999.000000,2000.000000,2001.000000
50%,3193.000000,23.000000,59.000000,9.000000,1070.000000,12.800000,0.144000,0.279000,5.000000,13.200000,...,-0.400000,-1.500000,0.000000,2004.000000,1.000000,22.000000,3.000000,2004.000000,2006.000000,2007.000000
75%,4642.000000,25.000000,75.000000,46.000000,1923.500000,15.700000,0.324000,0.390000,9.100000,18.000000,...,0.700000,0.200000,0.800000,2010.000000,2.000000,36.000000,4.000000,2010.000000,2012.000000,2013.000000
max,7958.000000,34.000000,84.000000,82.000000,3464.000000,129.100000,1.000000,4.000000,100.000000,57.700000,...,12.100000,24.800000,10.100000,2017.000000,2.000000,60.000000,10.000000,2018.000000,2017.000000,2018.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4804 entries, 0 to 4803
Data columns (total 44 columns):
UID                 4804 non-null object
Rk                  4589 non-null float64
Player              4804 non-null object
playerid            4804 non-null object
Age                 4804 non-null int64
Tm                  4804 non-null object
Lg                  4804 non-null object
Season              4804 non-null object
G_Totals            4804 non-null int64
GS_Totals           4804 non-null int64
MP_Totals           4804 non-null int64
PER                 4802 non-null float64
3PAr                4795 non-null float64
FTr                 4795 non-null float64
ORB%                4802 non-null float64
DRB%                4802 non-null float64
TRB%                4802 non-null float64
AST%                4802 non-null float64
STL%                4802 non-null float64
BLK%                4802 non-null float64
TOV%                4798 non-null float64
USG%                4802 non-null float64
ORtg                4798 non-null float64
DRtg                4802 non-null float64
OWS                 4804 non-null float64
DWS                 4804 non-null float64
WS                  4804 non-null float64
WS/48               4802 non-null float64
OBPM                4804 non-null float64
DBPM                4804 non-null float64
BPM                 4804 non-null float64
VORP                4804 non-null float64
draftyr             4804 non-null int64
draftrd             4804 non-null int64
draftpk             4804 non-null int64
SeasonN             4804 non-null int64
DraftTeam           4804 non-null object
playedForDrafter    4804 non-null object
YrFirstPlayed       4804 non-null int64
DraftEra            4804 non-null object
Seasonstartyr       4804 non-null int64
Seasonendyr         4804 non-null int64
 Salary             4804 non-null object
 Source             4804 non-null object
dtypes: float64(22), int64(11), object(11)
memory usage: 1.6+ MB

In [16]:
df[df['playedForDrafter'].isna() == True]
# When Player is run: we find 9 rows where there is no data at all
#      Age: 176 rows with no Age data. easy fix. 
#      draftrd  and draftera and draftpk playedForDrafter missing 14 rows. easy fix

# we run this to remove the 9 empty rows. The next cell takes care of this technically i think
# df.drop(df.index[4806:4814])

Empty DataFrame
Columns: [UID, Rk, Player, playerid, Age, Tm, Lg, Season, G_Totals, GS_Totals, MP_Totals, PER, 3PAr, FTr, ORB%, DRB%, TRB%, AST%, STL%, BLK%, TOV%, USG%, ORtg, DRtg, OWS, DWS, WS, WS/48, OBPM, DBPM, BPM, VORP, draftyr, draftrd, draftpk, SeasonN, DraftTeam, playedForDrafter, YrFirstPlayed, DraftEra, Seasonstartyr, Seasonendyr,  Salary ,  Source ]
Index: []

[0 rows x 44 columns]

# Exploratory Data Analysis

In [17]:
#Create a version of the dataframe with no NaN values for plotting
cleandf = df.dropna(how='any').copy()
print(cleandf)

                   UID      Rk               Player   playerid  Age   Tm   Lg  \
0     abdulta011997-98  4414.0    Tariq Abdul-Wahad  abdulta01   23  SAC  NBA
1     abdulta011998-99  4659.0    Tariq Abdul-Wahad  abdulta01   24  SAC  NBA
2     abdulta011999-00  4888.0    Tariq Abdul-Wahad  abdulta01   25  TOT  NBA
3     abdulta012000-01  5116.0    Tariq Abdul-Wahad  abdulta01   26  DEN  NBA
4     abdulta012001-02  5352.0    Tariq Abdul-Wahad  abdulta01   27  TOT  NBA
5     abdursh011996-97  4660.0  Shareef Abdur-Rahim  abdursh01   20  VAN  NBA
6     abdursh011997-98  4889.0  Shareef Abdur-Rahim  abdursh01   21  VAN  NBA
7     abdursh011998-99  5117.0  Shareef Abdur-Rahim  abdursh01   22  VAN  NBA
8     abdursh011999-00  5353.0  Shareef Abdur-Rahim  abdursh01   23  VAN  NBA
9     abdursh012000-01  5591.0  Shareef Abdur-Rahim  abdursh01   24  VAN  NBA
10    abrinal012016-17   202.0         Alex Abrines  abrinal01   23  OKC  NBA
11    abrinal012017-18   542.0         Alex Abrines  abrinal01   24  OKC  NBA
12    ackeral012005-06  2631.0           Alex Acker  ackeral01   23  DET  NBA
14    ackeral012008-09  3394.0           Alex Acker  ackeral01   26  TOT  NBA
15      acyqu012012-13   543.0           Quincy Acy    acyqu01   22  TOR  NBA
16      acyqu012013-14   819.0           Quincy Acy    acyqu01   23  TOT  NBA
17      acyqu012014-15  1082.0           Quincy Acy    acyqu01   24  NYK  NBA
18      acyqu012015-16  1358.0           Quincy Acy    acyqu01   25  SAC  NBA
19      acyqu012016-17  1634.0           Quincy Acy    acyqu01   26  TOT  NBA
20    adamsha012006-07  2632.0         Hassan Adams  adamsha01   22  NJN  NBA
21    adamsha012008-09  3127.0         Hassan Adams  adamsha01   24  TOR  NBA
22    adamsjo012014-15   820.0         Jordan Adams  adamsjo01   20  MEM  NBA
23    adamsjo012015-16  1083.0         Jordan Adams  adamsjo01   21  MEM  NBA
25    adamsst012013-14   203.0         Steven Adams  adamsst01   20  OKC  NBA
26    adamsst012014-15   544.0         Steven Adams  adamsst01   21  OKC  NBA
27    adamsst012015-16   821.0         Steven Adams  adamsst01   22  OKC  NBA
28    adamsst012016-17  1084.0         Steven Adams  adamsst01   23  OKC  NBA
29    adamsst012017-18  1359.0         Steven Adams  adamsst01   24  OKC  NBA
30    addisra011995-96  7958.0       Rafael Addison  addisra01   31  CHH  NBA
31    adebaba012017-18   204.0          Bam Adebayo  adebaba01   20  MIA  NBA
...                ...     ...                  ...        ...  ...  ...  ...
4774  youngth012009-10  2630.0       Thaddeus Young  youngth01   21  PHI  NBA
4775  youngth012010-11  2874.0       Thaddeus Young  youngth01   22  PHI  NBA
4776  youngth012011-12  3126.0       Thaddeus Young  youngth01   23  PHI  NBA
4777  youngti011999-00  5115.0            Tim Young  youngti01   23  GSW  NBA
4778    yuesu012008-09  2875.0              Sun Yue    yuesu01   23  LAL  NBA
4779  zelleco012013-14   538.0          Cody Zeller  zelleco01   21  CHA  NBA
4780  zelleco012014-15   814.0          Cody Zeller  zelleco01   22  CHO  NBA
4781  zelleco012015-16  1080.0          Cody Zeller  zelleco01   23  CHO  NBA
4782  zelleco012016-17  1356.0          Cody Zeller  zelleco01   24  CHO  NBA
4783  zelleco012017-18  1632.0          Cody Zeller  zelleco01   25  CHO  NBA
4784  zellety012012-13   815.0         Tyler Zeller  zellety01   23  CLE  NBA
4785  zellety012013-14  1081.0         Tyler Zeller  zellety01   24  CLE  NBA
4786  zellety012014-15  1357.0         Tyler Zeller  zellety01   25  BOS  NBA
4787  zellety012015-16  1633.0         Tyler Zeller  zellety01   26  BOS  NBA
4788  zellety012016-17  1897.0         Tyler Zeller  zellety01   27  BOS  NBA
4789  zhizhwa012000-01  3926.0          Wang Zhizhi  zhizhwa01   23  DAL  NBA
4790  zhizhwa012001-02  4169.0          Wang Zhizhi  zhizhwa01   24  DAL  NBA
4791  zhizhwa012002-03  4413.0          Wang Zhizhi  zhizhwa01   25  LAC  NBA
4792  zhizhwa012003-04  4658.0          Wang Zhizhi  zhizhwa01   26  TOT  NBA
4793  zhizhwa012004-05  4887.0          Wang Zhizhi  zhizhwa01   27  MIA  NBA
4794  zidekge011995-96  5590.0         George Zidek  zidekge01   22  CHH  NBA
4795  zidekge011996-97  5840.0         George Zidek  zidekge01   23  TOT  NBA
4796  zidekge011997-98  6089.0         George Zidek  zidekge01   24  TOT  NBA
4797  zimmede012005-06  3661.0    Derrick Zimmerman  zimmede01   24  NJN  NBA
4798  zimmest012016-17   816.0    Stephen Zimmerman  zimmest01   20  ORL  NBA
4799  zipsepa012016-17   539.0          Paul Zipser  zipsepa01   22  CHI  NBA
4800  zipsepa012017-18   817.0          Paul Zipser  zipsepa01   23  CHI  NBA
4801  zizican012017-18   540.0           Ante Zizic  zizican01   21  CLE  NBA
4802  zubaciv012016-17   541.0          Ivica Zubac  zubaciv01   19  LAL  NBA
4803  zubaciv012017-18   818.0          Ivica Zubac  zubaciv01   20  LAL  NBA

       Season  G_Totals  GS_Totals  ...  draftpk  SeasonN  DraftTeam  \
0     1997-98        59         16  ...       11        1        SAC
1     1998-99        49         49  ...       11        2        SAC
2     1999-00        61         56  ...       11        3        SAC
3     2000-01        29         12  ...       11        4        SAC
4     2001-02        24         12  ...       11        5        SAC
5     1996-97        80         71  ...        3        1        VAN
6     1997-98        82         82  ...        3        2        VAN
7     1998-99        50         50  ...        3        3        VAN
8     1999-00        82         82  ...        3        4        VAN
9     2000-01        81         81  ...        3        5        VAN
10    2016-17        68          6  ...       32        1        OKC
11    2017-18        75          8  ...       32        2        OKC
12    2005-06         5          0  ...       60        1        DET
14    2008-09        25          0  ...       60        3        DET
15    2012-13        29          0  ...       37        1        TOR
16    2013-14        63          0  ...       37        2        TOR
17    2014-15        68         22  ...       37        3        TOR
18    2015-16        59         29  ...       37        4        TOR
19    2016-17        38          1  ...       37        5        TOR
20    2006-07        61          8  ...       54        1        NJN
21    2008-09        12          0  ...       54        2        NJN
22    2014-15        30          0  ...       22        1        MEM
23    2015-16         2          0  ...       22        2        MEM
25    2013-14        81         20  ...       12        1        OKC
26    2014-15        70         67  ...       12        2        OKC
27    2015-16        80         80  ...       12        3        OKC
28    2016-17        80         80  ...       12        4        OKC
29    2017-18        76         76  ...       12        5        OKC
30    1995-96        53          0  ...       39        5        PHO
31    2017-18        69         19  ...       14        1        MIA
...       ...       ...        ...  ...      ...      ...        ...
4774  2009-10        67         45  ...       12        3        PHI
4775  2010-11        82          1  ...       12        4        PHI
4776  2011-12        63          1  ...       12        5        PHI
4777  1999-00        25          0  ...       56        1        GSW
4778  2008-09        10          0  ...       40        1        LAL
4779  2013-14        82          3  ...        4        1        CHA
4780  2014-15        62         45  ...        4        2        CHA
4781  2015-16        73         60  ...        4        3        CHA
4782  2016-17        62         58  ...        4        4        CHA
4783  2017-18        33          0  ...        4        5        CHA
4784  2012-13        77         55  ...       17        1        DAL
4785  2013-14        70          9  ...       17        2        DAL
4786  2014-15        82         59  ...       17        3        DAL
4787  2015-16        60          3  ...       17        4        DAL
4788  2016-17        51          5  ...       17        5        DAL
4789  2000-01         5          0  ...       36        1        DAL
4790  2001-02        55          0  ...       36        2        DAL
4791  2002-03        41          1  ...       36        3        DAL
4792  2003-04        16          0  ...       36        4        DAL
4793  2004-05        20          0  ...       36        5        DAL
4794  1995-96        71         21  ...       22        1        CHH
4795  1996-97        52          2  ...       22        2        CHH
4796  1997-98        12          0  ...       22        3        CHH
4797  2005-06         2          0  ...       40        1        GSW
4798  2016-17        19          0  ...       41        1        ORL
4799  2016-17        44         18  ...       48        1        CHI
4800  2017-18        54         12  ...       48        2        CHI
4801  2017-18        32          2  ...       23        1        BOS
4802  2016-17        38         11  ...       32        1        LAL
4803  2017-18        43          0  ...       32        2        LAL

      playedForDrafter  YrFirstPlayed   DraftEra  Seasonstartyr  Seasonendyr  \
0                  Yes           1997      HSEra           1997         1998
1                  Yes           1997      HSEra           1998         1999
2                    ?           1997      HSEra           1999         2000
3                   No           1997      HSEra           2000         2001
4                    ?           1997      HSEra           2001         2002
5                  Yes           1996      HSEra           1996         1997
6                  Yes           1996      HSEra           1997         1998
7                  Yes           1996      HSEra           1998         1999
8                  Yes           1996      HSEra           1999         2000
9                  Yes           1996      HSEra           2000         2001
10                 Yes           2016  1&DoneEra           2016         2017
11                 Yes           2016  1&DoneEra           2017         2018
12                 Yes           2005      HSEra           2005         2006
14                   ?           2005      HSEra           2008         2009
15                 Yes           2012  1&DoneEra           2012         2013
16                   ?           2012  1&DoneEra           2013         2014
17                  No           2012  1&DoneEra           2014         2015
18                  No           2012  1&DoneEra           2015         2016
19                   ?           2012  1&DoneEra           2016         2017
20                 Yes           2006  1&DoneEra           2006         2007
21                  No           2006  1&DoneEra           2008         2009
22                 Yes           2014  1&DoneEra           2014         2015
23                 Yes           2014  1&DoneEra           2015         2016
25                 Yes           2013  1&DoneEra           2013         2014
26                 Yes           2013  1&DoneEra           2014         2015
27                 Yes           2013  1&DoneEra           2015         2016
28                 Yes           2013  1&DoneEra           2016         2017
29                 Yes           2013  1&DoneEra           2017         2018
30                  No           1986      HSEra           1995         1996
31                 Yes           2017  1&DoneEra           2017         2018
...                ...            ...        ...            ...          ...
4774               Yes           2007  1&DoneEra           2009         2010
4775               Yes           2007  1&DoneEra           2010         2011
4776               Yes           2007  1&DoneEra           2011         2012
4777               Yes           1999      HSEra           1999         2000
4778               Yes           2008  1&DoneEra           2008         2009
4779               Yes           2013  1&DoneEra           2013         2014
4780               Yes           2013  1&DoneEra           2014         2015
4781               Yes           2013  1&DoneEra           2015         2016
4782               Yes           2013  1&DoneEra           2016         2017
4783               Yes           2013  1&DoneEra           2017         2018
4784                No           2012  1&DoneEra           2012         2013
4785                No           2012  1&DoneEra           2013         2014
4786                No           2012  1&DoneEra           2014         2015
4787                No           2012  1&DoneEra           2015         2016
4788                No           2012  1&DoneEra           2016         2017
4789               Yes           2000      HSEra           2000         2001
4790               Yes           2000      HSEra           2001         2002
4791                No           2000      HSEra           2002         2003
4792                 ?           2000      HSEra           2003         2004
4793                No           2000      HSEra           2004         2005
4794               Yes           1995      HSEra           1995         1996
4795                 ?           1995      HSEra           1996         1997
4796                 ?           1995      HSEra           1997         1998
4797                No           2005      HSEra           2005         2006
4798               Yes           2016  1&DoneEra           2016         2017
4799               Yes           2016  1&DoneEra           2016         2017
4800               Yes           2016  1&DoneEra           2017         2018
4801                No           2017  1&DoneEra           2017         2018
4802               Yes           2016  1&DoneEra           2016         2017
4803               Yes           2016  1&DoneEra           2017         2018

              Salary                                      Source
0       1,226,880.00                                    bballref
1       1,411,000.00                                    bballref
2       1,594,920.00                                    bballref
3       4,500,000.00                                    bballref
4       5,062,500.00                                    bballref
5       2,186,000.00                                    bballref
6       2,513,760.00                                rookie scale
7       2,841,720.00                                rookie scale
8       9,000,000.00                                    bballref
9      10,130,000.00                                    bballref
10      5,994,764.00                                    bballref
11      5,725,000.00                                    bballref
12        398,762.00                                    bballref
14        711,517.00                                    bballref
15        665,000.00                                    bballref
16        788,872.00                                    bballref
17        915,243.00                                    bballref
18        981,348.00                                    bballref
19      2,965,505.00                                    bballref
20        412,718.00                                    bballref
21        297,163.00                                    bballref
22      1,344,120.00                                    bballref
23      1,404,600.00                                    bballref
25      2,090,880.00                                    bballref
26      2,184,960.00                                    bballref
27      2,279,040.00                                    bballref
28      3,140,517.00                                    bballref
29     22,471,910.00                                    bballref
30        360,000.00                                    bballref
31      2,490,360.00                                    bballref
...               ...                                         ...
4774    2,105,400.00                                    bballref
4775    2,901,241.00                                    bballref
4776    7,478,261.00                                    bballref
4777      301,875.00                                    bballref
4778      442,114.00                                    bballref
4779    3,857,040.00                                    bballref
4780    4,030,560.00                                    bballref
4781    4,204,200.00                                    bballref
4782    5,318,313.00                                    bballref
4783   12,584,270.00                                    bballref
4784    1,563,120.00                                    bballref
4785    1,633,440.00                                    bballref
4786    1,703,760.00                                    bballref
4787    2,616,975.00                                    bballref
4788    8,000,000.00                                    bballref
4789      100,000.00                late 2nd rd assumption: 100k
4790      465,850.00                                    bballref
4791    1,900,000.00                                    bballref
4792    2,620,943.00                                    bballref
4793      745,046.00                                    bballref
4794      603,000.00                                    bballref
4795      694,000.00                                    bballref
4796      784,200.00                                    bballref
4797       17,545.68    minimum contract divided by games played
4798      950,000.00                                    bballref
4799      750,000.00                                    bballref
4800    1,312,611.00                                    bballref
4801    1,645,200.00                                    bballref
4802    1,034,956.00                                    bballref
4803    1,312,611.00                                    bballref

[4580 rows x 44 columns]

### Age

In [18]:
# Age should be in between 17 - 40
plt.figure(figsize=[15,3])
sns.boxplot(x=cleandf.Age)
plt.show()
cleandf.loc[(cleandf['Age'] >= 30), ['Player', 'Age', 'playedForDrafter', 'DraftEra']]
# filtered out all players 30 or over and found 43 players
# -------noticed most did not play for team drafted
#                most were in HSEra
# -------Also, the minimum contract divided by games played needs to be fixed.
#              the numbers produced are far far lower than those found on bballref

NameError: name 'plt' is not defined

#### The above chart suggests there are some players who were still in the league in their 30s, but still in one of their first 5 seasons. Need to spot check those outliers over 30

### Win Shares

In [19]:
#WinShare outliers should be usual suspects
plt.figure(figsize=[15,3])
sns.boxplot(x=cleandf['WS'])
plt.show()

NameError: name 'plt' is not defined

In [20]:
#Let's check to see who the outliers are:
# HIGH -- we'd expect this to be the 4th and 5th years of
#all time greats who played well with high volume:
cleandf[cleandf['WS']>14]

,UID,Rk,Player,playerid,Age,Tm,Lg,Season,G_Totals,GS_Totals,...,draftpk,SeasonN,DraftTeam,playedForDrafter,YrFirstPlayed,DraftEra,Seasonstartyr,Seasonendyr,Salary,Source
1193,duncati012001-02,5407.0,Tim Duncan,duncati01,25,SAS,NBA,2001-02,82,82,...,1,5,SAS,Yes,1997,HSEra,2001,2002,"10,865,250.00",bballref
1203,duranke012009-10,2461.0,Kevin Durant,duranke01,21,OKC,NBA,2009-10,82,82,...,2,3,SEA,Yes,2007,1&DoneEra,2009,2010,"4,796,880.00",bballref
1565,goberru012016-17,1173.0,Rudy Gobert,goberru01,24,UTA,NBA,2016-17,81,81,...,27,4,DEN,No,2013,1&DoneEra,2016,2017,"2,121,288.00",bballref
1740,hardaan011995-96,5928.0,Anfernee Hardaway,hardaan01,24,ORL,NBA,1995-96,82,82,...,3,3,GSW,No,1993,HSEra,1995,1996,"5,230,000.00",bballref
1922,hillgr011996-97,5679.0,Grant Hill,hillgr01,24,DET,NBA,1996-97,80,80,...,3,3,DET,Yes,1994,HSEra,1996,1997,"5,025,000.00",bballref
2158,jamesle012004-05,3252.0,LeBron James,jamesle01,20,CLE,NBA,2004-05,80,80,...,1,2,CLE,Yes,2003,HSEra,2004,2005,"4,320,360.00",bballref
2159,jamesle012005-06,3518.0,LeBron James,jamesle01,21,CLE,NBA,2005-06,79,79,...,1,3,CLE,Yes,2003,HSEra,2005,2006,"4,621,800.00",bballref
2161,jamesle012007-08,4048.0,LeBron James,jamesle01,23,CLE,NBA,2007-08,75,74,...,1,5,CLE,Yes,2003,HSEra,2007,2008,"13,041,250.00",bballref
3198,nowitdi012000-01,4818.0,Dirk Nowitzki,nowitdi01,22,DAL,NBA,2000-01,82,82,...,9,3,MIL,No,1998,HSEra,2000,2001,"1,693,560.00",bballref
3200,nowitdi012002-03,5264.0,Dirk Nowitzki,nowitdi01,24,DAL,NBA,2002-03,80,80,...,9,5,MIL,No,1998,HSEra,2002,2003,"10,067,750.00",bballref
3360,paulch012007-08,3045.0,Chris Paul,paulch01,22,NOH,NBA,2007-08,80,80,...,4,3,NOH,Yes,2005,HSEra,2007,2008,"3,615,960.00",bballref
3361,paulch012008-09,3312.0,Chris Paul,paulch01,23,NOH,NBA,2008-09,78,78,...,4,4,NOH,Yes,2005,HSEra,2008,2009,"4,574,189.00",bballref
4072,stoudam012004-05,3890.0,Amar'e Stoudemire,stoudam01,22,PHO,NBA,2004-05,80,80,...,9,3,PHO,Yes,2002,HSEra,2004,2005,"2,032,200.00",bballref
4401,wadedw012005-06,3637.0,Dwyane Wade,wadedw01,24,MIA,NBA,2005-06,75,75,...,5,3,MIA,Yes,2003,HSEra,2005,2006,"3,031,920.00",bballref

In [21]:
#LOW:
#We'd expect this to be mediocre players who were perceived as stars, and therefore
#got a lot of playing time - enough to get a deeply negative Win share
cleandf[cleandf['WS']<-1]

,UID,Rk,Player,playerid,Age,Tm,Lg,Season,G_Totals,GS_Totals,...,draftpk,SeasonN,DraftTeam,playedForDrafter,YrFirstPlayed,DraftEra,Seasonstartyr,Seasonendyr,Salary,Source
209,aventan011995-96,6341.0,Anthony Avent,aventan01,26,VAN,NBA,1995-96,71,32,...,15,4,ATL,No,1992,HSEra,1995,1996,"950,000.00",bballref
331,beaslmi012012-13,2656.0,Michael Beasley,beaslmi01,24,PHO,NBA,2012-13,75,20,...,2,5,MIA,No,2008,1&DoneEra,2012,2013,"5,750,000.00",bballref
725,carrco011998-99,5147.0,Cory Carr,carrco01,23,CHI,NBA,1998-99,42,7,...,49,1,ATL,No,1998,HSEra,1998,1999,"287,500.00",bballref
968,daniean011997-98,4474.0,Antonio Daniels,daniean01,22,VAN,NBA,1997-98,74,50,...,4,1,VAN,Yes,1997,HSEra,1997,1998,"2,149,920.00",bballref
1382,flynnjo012010-11,2241.0,Jonny Flynn,flynnjo01,21,MIN,NBA,2010-11,53,8,...,6,2,MIN,Yes,2009,1&DoneEra,2010,2011,"3,192,000.00",bballref
1649,greendo012008-09,1992.0,Donte Greene,greendo01,20,SAC,NBA,2008-09,55,4,...,28,1,MEM,No,2008,1&DoneEra,2008,2009,"971,160.00",bballref
2897,mercero012001-02,5484.0,Ron Mercer,mercero01,25,TOT,NBA,2001-02,53,41,...,6,5,BOS,?,1997,HSEra,2001,2002,"6,750,000.00",bballref
2922,milesda012002-03,4311.0,Darius Miles,milesda01,21,CLE,NBA,2002-03,67,62,...,3,3,LAC,No,2000,HSEra,2002,2003,"3,267,960.00",bballref
3019,morriad012006-07,2560.0,Adam Morrison,morriad01,22,CHA,NBA,2006-07,78,23,...,3,1,CHA,Yes,2006,1&DoneEra,2006,2007,"3,616,680.00",bballref
3056,mudiaem012015-16,418.0,Emmanuel Mudiay,mudiaem01,19,DEN,NBA,2015-16,68,66,...,7,1,DEN,Yes,2015,1&DoneEra,2015,2016,"3,102,240.00",bballref
3654,riverau012012-13,756.0,Austin Rivers,riverau01,20,NOH,NBA,2012-13,61,26,...,10,1,NOH,Yes,2012,1&DoneEra,2012,2013,"2,238,360.00",bballref
4747,wrighsh011996-97,6088.0,Sharone Wright,wrighsh01,24,TOR,NBA,1996-97,60,28,...,6,3,PHI,No,1994,HSEra,1996,1997,"3,100,000.00",bballref

### Salary initial check

In [22]:
#If I've set this up right, we'd expect a pretty intense increase in salaries over the years

In [23]:
#function to clean salaries as identified throughout analysis
def clean_sal(salary):
    salary = salary.strip()
    salary = re.sub(',', '', salary) # remove commas
    return salary

In [24]:
cleandf.loc[:,'Salary'] = [clean_sal(x) for x in cleandf[' Salary ']]

#Change data type from string to float
cleandf['Salary'] = cleandf['Salary'].astype('float')

#Change year to an int for clean plotting
cleandf['yr'] = cleandf.Seasonstartyr.astype('int')

NameError: name 're' is not defined

In [25]:
plt.figure(figsize=[15,7])
sns.scatterplot(x=cleandf.yr,y=cleandf.Salary, 
                alpha=.1, s=200)
plt.plot(cleandf.groupby('yr')['Salary'].mean(),
        color='red', linestyle='--')
plt.show()

NameError: name 'plt' is not defined

In [26]:
#First-year Salary by draft position should also make sense:
first_round = cleandf[cleandf.draftrd==1].copy()
first_round_rookies = first_round[first_round.SeasonN==1]
print(first_round_rookies.shape)

(656, 44)

In [27]:
plt.figure(figsize=[15,7])
sns.scatterplot(x=first_round_rookies.draftpk,y=first_round_rookies.Salary, 
                alpha=.3, s=200, hue=first_round.yr, legend='full')
plt.plot(first_round_rookies.groupby('draftpk')['Salary'].mean(),
        color='red', linestyle='--', label='Mean Salary')
plt.legend(ncol=5)
plt.show()

NameError: name 'plt' is not defined

In [28]:
#May need to investigate some of these late draft picks with high salaries
# Bodanovic played professionally for 7 years prior to rookie NBA contract
# Freeland played professionally for 7 years prior to rookie NBA contract
# Mirotic played professionally for 5 years prior to rookie NBA contract
# Splitter played professionally for 11 years prior to rookie NBA contract

In [29]:
first_round_rookies[(first_round_rookies.draftpk>20) & (first_round_rookies.Salary > 2000000)]

AttributeError: 'DataFrame' object has no attribute 'Salary'