In [1]:
from bs4 import BeautifulSoup, Comment
from urllib.request import urlopen
import numpy as np
import pandas as pd
from time import sleep
import csv
from string import ascii_lowercase
import random

In [2]:
BASE_URL = "https://www.basketball-reference.com"


def get_player_links(section_url):
    html = urlopen(section_url).read()
    soup = BeautifulSoup(html, "html.parser")
    statst = soup.find(id="players")
    player_links = [BASE_URL + th.a["href"] for th in statst.tbody.find_all("th")]
    return player_links

In [3]:
def get_stats(category_url):
    html = urlopen(category_url).read()
    soup = BeautifulSoup(html, "html.parser")
    saldiv = soup.find(id="all_all_salaries")
    salaries = []
    if saldiv is None:
        salaries = [{
            "playerid" : category_url.split("/")[5].split(".")[0],
            "season" : "no salary info",
            "team" : "no salary info",
            "salary" : 0
        }]
    else:
        saldiv2 = saldiv.contents[-2]
        soup2 = BeautifulSoup(saldiv2, "html.parser")
        saltable = soup2.find(id="all_salaries")
        for item in saltable.tbody.children:
            
            if len(item) <= 1:
                continue
            
            row = {
                "playerid" : category_url.split("/")[5].split(".")[0],
                "season" : item.find(attrs={"data-stat": "season"}).string,
                "team" : item.find(attrs={"data-stat" : "team_name"}).string,
                "salary" : item.find(attrs={"data-stat" : "salary"}).string
            }
            
            salaries.append(row)
            
        
    return salaries

In [65]:
letter = ("https://www.basketball-reference.com/players/z/")
    
players = get_player_links(letter)
data = [] 
for player in players:
    sals = get_stats(player)
    data.append(sals)
    sleep(3) # be nice

In [66]:
with open('zplayers.csv', 'w') as csvfile:
    fieldnames = ['playerid', 'season', 'team', 'salary']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    for player in data:
        for season in player:
            writer.writerow(season)

In [67]:
df = pd.read_csv('zplayers.csv')
df

     playerid          season                  team       salary
0   zasloma01  no salary info        no salary info            0
1   zawolze01  no salary info        no salary info            0
2   zelleco01         2013-14     Charlotte Bobcats   $3,857,040
3   zelleco01         2014-15     Charlotte Hornets   $4,030,560
4   zelleco01         2015-16     Charlotte Hornets   $4,204,200
5   zelleco01         2016-17     Charlotte Hornets   $5,318,313
6   zelleco01         2017-18     Charlotte Hornets  $12,584,270
7   zelleda01  no salary info        no salary info            0
8   zellega01  no salary info        no salary info            0
9   zelleha01  no salary info        no salary info            0
10  zellelu01         2012-13          Phoenix Suns     $473,604
11  zellety01         2012-13   Cleveland Cavaliers   $1,563,120
12  zellety01         2013-14   Cleveland Cavaliers   $1,633,440
13  zellety01         2014-15        Boston Celtics   $1,703,760
14  zellety01         2015-16        Boston Celtics   $2,616,975
15  zellety01         2016-17        Boston Celtics   $8,000,000
16  zellety01         2017-18       Milwaukee Bucks   $1,709,538
17   zenoto01  no salary info        no salary info            0
18  zevenph01  no salary info        no salary info            0
19  zhizhwa01         2001-02      Dallas Mavericks     $465,850
20  zhizhwa01         2002-03  Los Angeles Clippers   $1,900,000
21  zhizhwa01         2003-04  Los Angeles Clippers   $2,090,000
22  zhizhwa01         2003-04            Miami Heat     $530,943
23  zhizhwa01         2004-05            Miami Heat     $745,046
24  zidekge01         1995-96     Charlotte Hornets     $603,000
25  zidekge01         1996-97     Charlotte Hornets     $694,000
26  zidekge01         1997-98        Denver Nuggets     $784,200
27  zimmede01  no salary info        no salary info            0
28  zimmest01         2016-17         Orlando Magic     $950,000
29  zipsepa01         2016-17         Chicago Bulls     $750,000
30  zipsepa01         2017-18         Chicago Bulls   $1,312,611
31  zizican01         2017-18   Cleveland Cavaliers   $1,645,200
32   zoetji01  no salary info        no salary info            0
33   zopfbi01  no salary info        no salary info            0
34  zubaciv01         2016-17    Los Angeles Lakers   $1,034,956
35  zubaciv01         2017-18    Los Angeles Lakers   $1,312,611
36  zunicma01  no salary info        no salary info            0

In [79]:
import glob
path =r'C:\Users\Greg\Documents\Personal\Thinkful\dsprojects\nba' # use your path
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_, ignore_index=True)
frame.shape
#https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

(16430, 4)

In [81]:
frame.to_csv('salaries.csv')

In [80]:
frame

        playerid          season                    team      salary
0      abdelal01         1990-91  Portland Trail Blazers    $395,000
1      abdelal01         1991-92  Portland Trail Blazers    $494,000
2      abdelal01         1992-93          Boston Celtics    $500,000
3      abdelal01         1993-94          Boston Celtics    $805,000
4      abdelal01         1994-95        Sacramento Kings    $650,000
5      abdulza01  no salary info          no salary info           0
6      abdulka01         1984-85      Los Angeles Lakers  $1,530,000
7      abdulka01         1985-86      Los Angeles Lakers  $2,030,000
8      abdulka01         1987-88      Los Angeles Lakers  $2,000,000
9      abdulka01         1988-89      Los Angeles Lakers  $3,000,000
10     abdulma02         1990-91          Denver Nuggets  $1,660,000
11     abdulma02         1991-92          Denver Nuggets  $2,008,000
12     abdulma02         1992-93          Denver Nuggets  $2,358,000
13     abdulma02         1993-94          Denver Nuggets  $1,825,000
14     abdulma02         1994-95          Denver Nuggets  $2,200,000
15     abdulma02         1995-96          Denver Nuggets  $2,600,000
16     abdulma02         1996-97        Sacramento Kings  $3,100,000
17     abdulma02         1997-98        Sacramento Kings  $3,300,000
18     abdulma02         2000-01     Vancouver Grizzlies    $798,500
19     abdulta01         1997-98        Sacramento Kings  $1,226,880
20     abdulta01         1998-99        Sacramento Kings  $1,411,000
21     abdulta01         1999-00          Denver Nuggets  $1,594,920
22     abdulta01         2000-01          Denver Nuggets  $4,500,000
23     abdulta01         2001-02          Denver Nuggets  $5,062,500
24     abdulta01         2002-03        Dallas Mavericks  $5,625,000
25     abdulta01         2003-04        Dallas Mavericks  $6,187,500
26     abdulta01         2004-05        Dallas Mavericks  $6,750,000
27     abdulta01         2005-06        Dallas Mavericks  $3,656,250
28     abdulta01         2006-07        Dallas Mavericks  $1,968,750
29     abdursh01         1996-97     Vancouver Grizzlies  $2,186,000
...          ...             ...                     ...         ...
16400  zelleda01  no salary info          no salary info           0
16401  zellega01  no salary info          no salary info           0
16402  zelleha01  no salary info          no salary info           0
16403  zellelu01         2012-13            Phoenix Suns    $473,604
16404  zellety01         2012-13     Cleveland Cavaliers  $1,563,120
16405  zellety01         2013-14     Cleveland Cavaliers  $1,633,440
16406  zellety01         2014-15          Boston Celtics  $1,703,760
16407  zellety01         2015-16          Boston Celtics  $2,616,975
16408  zellety01         2016-17          Boston Celtics  $8,000,000
16409  zellety01         2017-18         Milwaukee Bucks  $1,709,538
16410   zenoto01  no salary info          no salary info           0
16411  zevenph01  no salary info          no salary info           0
16412  zhizhwa01         2001-02        Dallas Mavericks    $465,850
16413  zhizhwa01         2002-03    Los Angeles Clippers  $1,900,000
16414  zhizhwa01         2003-04    Los Angeles Clippers  $2,090,000
16415  zhizhwa01         2003-04              Miami Heat    $530,943
16416  zhizhwa01         2004-05              Miami Heat    $745,046
16417  zidekge01         1995-96       Charlotte Hornets    $603,000
16418  zidekge01         1996-97       Charlotte Hornets    $694,000
16419  zidekge01         1997-98          Denver Nuggets    $784,200
16420  zimmede01  no salary info          no salary info           0
16421  zimmest01         2016-17           Orlando Magic    $950,000
16422  zipsepa01         2016-17           Chicago Bulls    $750,000
16423  zipsepa01         2017-18           Chicago Bulls  $1,312,611
16424  zizican01         2017-18     Cleveland Cavaliers  $1,645,200
16425   zoetji01  no salary info          no salary info           0
16426   zopfbi01  no salary info          no salary info           0
16427  zubaciv01         2016-17      Los Angeles Lakers  $1,034,956
16428  zubaciv01         2017-18      Los Angeles Lakers  $1,312,611
16429  zunicma01  no salary info          no salary info           0

[16430 rows x 4 columns]